{{define "head"}}
<title>{{$.RoomId}} - ChaTwit</title>
{{end}}

{{define "body"}}
<header class="row">
  <nav class="top-bar" id="head-menu">
    <ul class="title-area">
      <li class="name">
      <h1><a href="/">ChaTwit </a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <!-- <li><a href="/dashboard">Main Item 1</a></li>-->
      </ul>
      <ul class="right">
        <li class="last-menu"><a href="/logout">Logout</a></li>
      </ul>
    </section>
  </nav>
</header>

<div class="row">
  <div class="large-12 columns" id="room-title">
		<h3>Room: <span id="room-name">{{$.RoomId}}</span> (<span id="room-stats"></span> users)</h3>
    <p>Join other rooms or invite some friend to join here</p>
  </div>
</div>

<div class="row">
  <div class="large-12 columns" id="log">
  </div>
  <div class="row">
    <form class="large-12 columns" id="form" data-socket="ws://{{$.Host}}/ws/{{$.RoomId}}">
      <textarea id="msg" size="140" placeholder="Type here..." autofocus="autofocus"></textarea>
      <small class="help">Use Shit+Enter to go to next line.</small>
    </form>
  </div>
</div>

{{end}}


